#container-cards {
    display: flex;
    flex-wrap: wrap;
}

.botton {
    width: 35%;
    margin-left: 10%;
}

.container-bottons {
    padding-top: 2%;
    padding-bottom: 2%;
}

.tittle-middle {
    text-align: center;
}

.card-spaces {
    width: 25%;
    margin-left: 6%;
    margin-top: 3%;
}

h1 {
    text-align: center;
    font-weight: bolder;
    margin-top: 2%;
}

#container-form {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

.space-top {
    padding-top: 2%;
}

.space-top-botton {
    margin-top: 2%;
}